$font_family: Figtree;
$highlight_color: #ffbb00;
$lowlight_color: #ffffff96;
$background_color: #1b1f28;

.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../assets/wall-e_bg.png');
  mask-image: linear-gradient(to bottom, rgba(27, 31, 40, 1) 90%, rgba(27, 31, 40, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(27, 31, 40, 1) 90%, rgba(27, 31, 40, 0) 100%);
  overflow: hidden;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 15%;
  gap: 15%;
}

.movies img {
  margin-right: 10%;
  width: 30%;
  height: auto;
  mask-image: linear-gradient(to bottom, rgba(27, 31, 40, 1) 90%, rgba(27, 31, 40, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(27, 31, 40, 1) 90%, rgba(27, 31, 40, 0) 100%);
}

.movies-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 30%;
  margin-left: 10%;
  font-family: $font_family;
}

.movies-text-container h1 {
  color: white;
  margin: 0;
}

.movies-description {
  color: $lowlight_color;
  width: 100%;
  text-wrap: wrap;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
}
